<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/style.css" />
    <!-- <link rel="stylesheet" href="../{{url_for('static', filename='style.css')}}"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>


    <div>
        <nav class="navbar navbar-expand-sm bg-light fixed-top">
            <a class="navbar-brand" href="#"><b>Analisis Sentimen Covid-19 di Kota Depok</b></a>
            <a class="navbar-brand" href="#"><b><font size="2">By: Geadalfa Giyanda</font></b></a>
        </nav>
    </div>

</head>
<br>

<body style="background: rgba(0,0,0,0.7)url(static/backgroundImage.jpg); background-size: 100% 100%;
background-blend-mode: darken;">

    <br><br>

    <div class="social">

    </div>
    </div>
    <center>
        <div class="website">
            <font color="white" size="6"><b>Selamat Datang</b></font>
        </div>
    </center>
    <div style="margin-bottom: -40px" class="wrapper">
        <div class="main-div main-div1">
            <h1>Analisis Sentimen</h1>
        </div>
    </div>


    <div class="tebel">
        <table class="table">
            <tr class="table__header">
                {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in positif %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="tebel">
        <table class="table">
            <tr class="table__header">
                {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in netral %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="tebel">
        <table class="table">
            <tr class="table__header">
                {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in negatif %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>


    <div>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Sentimen</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for row in sentimen2 %}
                <tr class="active-row">
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <canvas id="donatChart" width="900" height="400"></canvas>
        <script>
            var ctx = document.getElementById("donatChart").getContext("2d");
            var donatChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: {
                                {
                                    labels | safe
                                }
                            },
                            datasets: [{
                                label: "Total",
                                data: {
                                    {
                                        values | safe
                                    }
                                }
                            }]
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'Diagram Sentimen'
                                }
                            });
        </script>
    </div>


    <div style="margin-bottom: -150px;" class="wrapper">
        <div class="main-div main-div2">
            <h3>Masukkan Teks</h3>
        </div>
    </div>

    <div class="ml-container">
        <center>
            <form action="{{ url_for('predict')}}" method="POST">
                <div class="wrapper2">
                    <div class="main-div main-div2">
                        <textarea name="review" rows="6" cols="50" required="required" id="ip4"></textarea>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary btn-lg" value="PREDICT">
                <br>
            </form>
        </center>
    </div>
</body>

</html>